<p>Bonjour,</p>

<p>L’équipe de la <strong>Leagle Cup</strong> vous remercie pour votre inscription dont voici un récapitulatif :</p>

<p>
	Nom et prénom : {{ post.meta( 'civility' ) }} {{ post.meta( 'firstname' ) }} {{ post.meta( 'lastname' ) -}}<br>
	Raison social : {{ post.meta( 'company_name' ) -}}<br>
	Profession : {{ post.meta( 'job_title' ) -}}<br>
	Email : {{ post.meta( 'email' ) -}}<br>
	Téléphone mobile : {{ post.meta( 'cell_phone' ) -}}<br>
	Adresse : {{ post.meta( 'address' ) }}<br>
	Ville : {{ post.meta( 'city' ) }}<br>
	Code postal : {{ post.meta( 'postal_code' ) }}<br>
	{{- post.meta( 'license_number' ) ? "Numéro de licence : #{ post.meta( 'license_number' ) }<br>" : '' -}}
	{{- post.meta( 'ffg_index' ) ? "Index FFG : #{ post.meta( 'ffg_index' ) }<br>" : '' -}}
	Taille du polo : {{ post.meta( 't_shirt_size' ) }}<br>

	Participation : {{ post.meta( 'price' ) }} €<br>

	{% if post.meta( 'guide_firstname' ) or post.meta( 'guide_lastname' ) %}
		Nom et prénom de l'accompagnant : {{ post.meta( 'guide_firstname' ) }} {{ post.meta( 'guide_lastname' ) }}<br>
	{% endif %}

	{% if post.meta( 'guide_email' ) %}
		Adresse mail de l'accompagnant : {{ post.meta( 'guide_email' ) }}<br>
	{% endif %}

	{% if post.meta( 'guide_cell_phone' ) %}
		Numéro de téléphone de l'accompagnant : {{ post.meta( 'guide_cell_phone' ) }}<br>
	{% endif %}

	{% for option in post.meta( 'options' ) %}
		Vous avez sélectionné : {{ option }}<br>
	{% endfor %}

	Pour un total de {{ post.meta( 'total' ) }} €<br>

	Vous constituez une équipe avec :<br>

	{% if post.meta( 'team_double' ) == 'true' %}
		{{- post.meta( 'team_firstname' ) ? post.meta( 'team_firstname' ) : '' }}{{ post.meta( 'team_lastname' ) and post.meta( 'team_firstname' ) ? " #{ post.meta( 'team_lastname' ) }" : post.meta( 'team_lastname' )  }}<br>
		{{ post.meta( 'team_license_number' ) ? "Dont le numéro de licence est #{ post.meta( 'team_license_number' ) }" : ''  }}
	{% else %}
		Nous nous chargeons de vous choisir un co-équipier
	{% endif %}

</p>

<p>
	Nous vous précisons que votre inscription sera définitivement validée à réception du versement de votre participation par virement bancaire (identification bancaire rappelée ci-après) :
</p>

<p>
	<strong>Coordonnées bancaires :</strong><br>
	Titulaire du compte : WEVENT By WEBLEX<br>
	RIB : 10278 36058 00010868701 29<br>
	IBAN : FR76 1027 8360 5800 0108 6870 129<br>
	BIC : CMCIFR2A
</p>

<p>Toute l'équipe de la Leagle Cup vous remercie et vous recontactera très prochainement.</p>

<p>
	À bientôt<br>
	Céline MENGUY pour la Leagle Cup<br>
	Mail : contact@leaglecup.fr<br>
	Ligne directe : 02 55 59 99 17
</p>

{% if partners %}
	<table style="width: 100%; table-layout: fixed;">
		<tr>
			{% for partner in partners %}
				<td>
					<img style="width: 140px; max-width: 100%; margin: 0 auto; height: auto; display: block;" src="{{ partner }}" alt="">
				</td>
			{% endfor %}
		</tr>
	</table>
{% endif %}
