{#

Partners

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}

<section class="Partners">
    <div class="Site-container">
        {% for term in terms %}
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <h2 class="Partners__title">{{ term.name }}</h2>

                    <ul class="Partners__items row">
                        {% for partner in term.get_posts( 'posts_per_page=-1' ) %}
                            <li class="col-6 col-md-3 Partners__item{{ partner.content ? ' has-content' }}">
                                {% if partner.get_field( 'link' ) %}
                                    <a href="{{ partner.get_field( 'link' ) }}" target="_blank">
								{% endif %}
								{% include 'partials/image.html.twig' with { image: Image( partner.thumbnail ) } %}
                                {{ partner.get_field( 'link' ) ? '</a>' }}
								{% if partner.content %}
									<div class="Partners__item__content">
										{{- partner.content -}}
									</div>
								{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
