{#

@author     Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@file       views/footer.twig
@package    LeagleCup

#}
		<footer class="Site-footer">
			<div class="Site-container Site-footer__top">
				<div class="row">
					<div class="col-12 col-md-4">
						<a class="d-inline-block" href="{{ site.link }}">
							<img class="Logo" src="{{ theme.path }}/dist/img/svg/logo-decor.svg" alt="{{ site.description }}" width="202" height="72">
						</a>
					</div>
					<div class="col-12 col-md-7">
						{%
							include 'components/menu-main.html.twig'
							with { items: menu.main.items }
							only
						%}
					</div>
					<div class="col-12 col-md-1 text-align-md-right">
						{% include 'components/socials.html.twig' %}
					</div>
				</div>
			</div>


			<div class="Site-container Site-footer__bottom">
				<hr>
				<div class="row align-items-center">
					<div class="col-12 col-md-6">
						<div class="Site-footer__partners">
							{% spaceless %}
							<a href="http://inovera.fr" target="_blank">
								<img class="d-inline-block vertical-align-middle" src="{{ theme.path }}/dist/img/svg/weblex.svg" alt="Weblex" width="64" height="48">
							</a>
							<a href="https://www.weblex.fr/" target="_blank">
								<img class="d-inline-block vertical-align-middle" src="{{ theme.path }}/dist/img/svg/inovera.svg" alt="Inovera" width="62" height="48">
							</a>

							<a href="https://www.hotelsbarriere.com/fr/la-baule/l-hermitage.html" target="_blank">
								<img class="d-inline-block vertical-align-middle" src="{{ theme.path }}/dist/img/png/hotel-barriere-lhermitage-white.png" alt="Hôtel Barrière l'Hermitage" width="100" height="24">
							</a>
							{% endspaceless %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<ul class="Site-footer__copyright">
							<li>© LEAGLE CUP</li>
							<li><a href="{{ permalinks.legal_mentions }}">Mentions légales</a></li>
							<li>by&nbsp;<a href="http://inesa.fr" target="_blank"><strong>ines a</strong></a>&nbsp;&&nbsp;<a href="http://19h47.fr" target="_blank"><strong>19h47</strong></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		{{ wp_footer }}
		{# {% include 'common/guid.html.twig' %} #}

	</body>
</html>
