{#
	@author     Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
	@file       views/index.twig
	@package    LeagleCup
#}

{# Header #}
{% include 'header.html.twig' %}

<header class="Site-header">
    <div class="Site-container">
		<div class="row">
			<div class="col-12 col-md-4">
				<a class="d-inline-block" href="{{ site.link }}">
					<img class="Logo" src="{{ manifest['img/svg/logo-decor.svg'] }}" alt="{{ site.description }}" width="202" height="72">
				</a>
			</div>
			<div class="col-12 col-md-7{{ contact.socials is iterable ? '' : ' offset-md-1' }}">
				{%
					include 'components/menu-main.html.twig'
					with { items: menu.main.items }
					only
				%}
			</div>
            {% if contact.socials is iterable %}
                <div class="col-12 col-md-1 text-align-md-right">
                    {% include 'components/socials.html.twig' %}
                </div>
            {% endif %}
		</div>
	</div>

    {% block hero %}
        <section class="Page__hero Site-container">
            <div class="row">
                <div class="col-12">
                    <h1 itemprop="name" class="Page__hero__title">{{- post.title -}}</h1>
                </div>
            </div>
            <div class="Page__hero__footer">
				<button type="button" class="js-scroll-to" data-target="main-container">
					{% include 'svg/use.html.twig' with { icon: 'scroll-to' } only %}
					<svg class="scroll-to-dot" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 24">
						<circle class="dot" cx="6" cy="6" r="3" fill="#FFFFFF"/>
					</svg>
					<p class="margin-0">{{- __( 'Scroll' ) }}</p>
				</button>
            </div>
        </section>
        {% include 'common/grid.html.twig' %}
    {% endblock %}

</header>


<main id="main-container">

	<div id="page-content" class="page-content Page__wrapper"
		data-node-type="{{ node_type }}"
		data-meta-title="{{ wp_get_document_title() }}"
		data-body-class="{{ get_body_class( node_type ) | join( ' ' ) }}"
	>

        {# Content #}
        {% block content %}
            {% if post.content or post.get_field( 'display_partners') %}
                <section class="Page__content">
                    <div class="Site-container">
                        {% if post.content %}
                            <div class="row">
                                <div class="col-12 col-md-10 offset-md-1">
                                    <div class="Wysiwyg">{{- post.content -}}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if post.get_field( 'display_partners') %}{{ partners }}{% endif %}

                    {% include 'common/grid.html.twig' %}
                </section>
            {% endif %}
        {% endblock %}

		</div>
</main>

<div class="Site-container">
	<div class="row">
		<div class="col-12">
			<form class="js-electronic-signature">
				<input type="submit">
			</form>
		</div>
	</div>
</div>


{# Footer #}
{% include 'footer.html.twig' %}
