{#

Hero-block

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@param arr hero
@file blocks/hero.html.twig

#}
<section class="Hero-block">

	<div class="Site-container Hero-block__inner">
		<div class="row align-items-center">
			<div class="col-12 col-md-5 offset-md-1">
				<h1 class="page-block__title">{{- site.title -}}</h1>
				<div class="page-block__content Wysiwyg">{{- hero.content -}}</div>

				{% if hero.link %}
					<a class="page-block__button Hero-block__button Button Button--outline-primary" href="{{ hero.link.url }}"{{ hero.link.target ? ' target="_blank"' }}>
						{{- hero.link.title | default( 'Découvrir' ) -}}
					</a>
				{% endif %}

			</div>
			<div class="col-12 col-md-4 offset-md-1">
				<img class="Hero-block__logo" src="{{ theme.path }}/dist/img/svg/logo.svg" alt="{{ site.description }}" width="261" height="188">
			</div>
		</div>
	</div>

	<footer class="Page__hero__footer">
		<a class="d-inline-block" href="#{{ target }}">
			{% include 'svg/use.html.twig' with { icon: 'scroll-to' } only %}
			<svg class="scroll-to-dot"  version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 24">
				<circle class="dot" cx="6" cy="6" r="3" fill="#FFFFFF"/>
			</svg>
			<span class="d-block">{{- __( 'Scroll' ) }}</span>
		</a>
	</footer>

	{% include 'common/grid.html.twig' %}

	<img class="Hero-block__image" src="{{ Image( hero.image ).src }}" alt="">
</section>
