{#

Partners

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@param arr partners
@file blocks/partners.html.twig

#}
{% extends 'blocks/block.html.twig' %}

{% block content %}
	<div class="Site-container page-block__inner">
		<div class="row align-items-center">
			<div class="col-12 col-md-6 offset-md-1">
				<h2 class="page-block__title h1">{{- block.title -}}</h2>

				{% if block.subtitle %}
					<h3 class="h2">{{- block.subtitle -}}</h3>
				{% endif %}

				<div class="page-block__content Wysiwyg">{{- block.content -}}</div>

				{% if block.link %}
					<a class="page-block__button Button Button--outline-primary" href="{{ block.link.url }}"{{ block.link.target ? ' target="_blank"' }}>
						{{- block.link.title | default( 'Découvrir' ) -}}
					</a>
				{% endif %}
			</div>

            {# <div class="col-12 col-md-4">
				<img class="Partners-block__logo" src="{{ theme.path }}/dist/img/svg/golf-ball.svg" alt="{{ site.description }}" width="217" height="217">
			</div> #}

		</div>
	</div>

	{% include 'common/grid.html.twig' %}

	{% include 'partials/image.html.twig' with { image: Image( block.image ), classes: [ 'Hero-block__image' ] } %}

{% endblock %}
