{#

Menu main

@file views/components/menu-main.html.twig
@param arr items
@author Jérémy Levron <jeremylevron@19h47.fr> (htpp://19h47.fr)

#}
{% if items is iterable %}

	<ul class="Menu-main" itemscope itemtype="http://schema.org/SiteNavigationElement">
		{% for item in items %}
			<li class="Menu-main__item{{ item.classes ? ' ' ~ item.classes | join( ' ' ) }}" itemprop="name">
				<a class="Menu-main__link{{ item.current ? ' is-current' : '' }}" href="{{ item.url }}" itemprop="url" data-transition="fade">
					{{- item.title -}}
				</a>

				{% if item.children %}
					<ul class="Menu-main__children">
						{% for child in item.children %}
							<li class="Menu-main__item Menu-main__item--child{{ child.classes ? ' ' ~ child.classes | join( ' ' ) }}">
								<a class="Menu-main__link" href="{{ child.url }}">{{- child.title -}}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

{% endif %}
