{#

Block

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
#}
<section class="{{ name }}-block page-block" id="{{ name }}">
    <header class="Site-container page-block__header">
		<div class="row">
			<div class="col-12 col-md-3">
				<img class="Logo" src="{{ theme.path }}/dist/img/svg/logo-decor-white.svg" alt="{{ site.description }}" width="202" height="72">
			</div>

			<div class="col-12 col-md-9 flex-column flex-md-row margin-top-md-4 d-flex justify-content-md-end">
            	{% if block.link %}
        			<a class="page-block__menu" href="{{ block.link.url }}">{{- title -}}</a>
        		{% endif %}

        		{% if socials is iterable %}
        			{% include 'components/socials.html.twig' %}
        		{% endif %}
			</div>

    	</div>
	</header>

    {% block content %}{% endblock %}

</section>
