{#

Event-block

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@param arr event
@file blocks/event.html.twig

#}
{% extends 'blocks/block.html.twig' %}

{% block content %}
	<div class="Site-container page-block__inner">
		<div class="row align-items-center">
			<div class="col-12 col-md-8 offset-md-1">
				<h2 class="page-block__title h1 margin-bottom-0">{{- block.title -}}</h2>
				<h3 class="h2 margin-top-0">{{- block.subtitle -}}</h3>
			</div>

			<div class="col-12 col-md-5 offset-md-1">
				<div class="page-block__content Wysiwyg">{{- block.content -}}</div>

				{% if block.link %}
					<a class="Button Button--outline-primary" href="{{ block.link.url }}"{{ block.link.target ? ' target="_blank"' }}>
						{{- block.link.title | default( 'Découvrir' ) -}}
					</a>
				{% endif %}
			</div>
		</div>
	</div>

	{% include 'common/grid.html.twig' %}

	<img class="Event-block__image" src="{{ theme.path }}/dist/img/svg/golf-ball-event.svg" alt="" width="1427" height="1427">

{% endblock %}
