{#

Event-block

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@param arr event
@file blocks/event.html.twig

#}
<section class="Event-block">
	<header class="Site-container Event-block__header">
		<div class="row">
			<div class="col-12 col-md-4">
				<img class="Logo" src="{{ manifest['img/svg/logo-decor-white.svg'] }}" alt="{{ site.description }}" width="202" height="72">
			</div>
			<div class="col-12 col-md-7 text-align-right">
				<a class="Event-block__menu" href="">{{- __( 'L\'événement' ) -}}</a>
			</div>
			<div class="col-12 col-md-1 text-align-right">
				{% include 'components/socials.html.twig' %}
			</div>
		</div>
	</header>
	<div class="Site-container Event-block__inner">
		<div class="row align-items-center">
			<div class="col-12 col-md-8 offset-md-1">
				<h2 class="Event-block__title h1">{{- event.title -}}</h2>
				<h3 class="h2">{{- event.subtitle -}}</h3>
			</div>

			<div class="col-12 col-md-5 offset-md-1">
				<div class="Event-block__content Wysiwyg">{{- event.content -}}</div>


				{% if event.link %}
					<a class="Event-block__button Button Button--outline-primary" href="{{ event.link.url }}"{{ event.link.target ? ' target="_blank"' }}>
						{{- event.link.title | default( 'Découvrir' ) -}}
					</a>
				{% endif %}
			</div>
		</div>
	</div>

	{% include 'common/grid.html.twig' %}

</section>
