{#

Partners

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}

<section class="Partners">
    <div class="Site-container">
        {% for term in terms %}
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <h2 class="Partners__title">{{ term.name }}</h2>

                    <ul class="Partners__items">
                        {% for partner in term.get_posts() %}
                            <li class="Partners__item{{ partner.content ? ' has-content' }}">
                                {% if partner.get_field( 'link' ) %}
                                    <a href="{{ partner.get_field( 'link' ) }}" target="_blank">
                                {% endif %}
                                <img src="{{ Image( partner.thumbnail ).src }}" alt="{{ partner.title }}" width="{{ Image( partner.thumbnail ).width }}" height="{{ Image( partner.thumbnail ).height }}">
                                {{ partner.get_field( 'link' ) ? '</a>' }}
								{% if partner.content %}
									<div class="Partners__item__content">
										{{- partner.content -}}
									</div>
								{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
