{#
 # Register page
 #
 # @file pages/register-page.html.twig
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @package LeagleCup
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<section class="Page__content">
		<div class="Site-container">

			{% if post.content %}
				<div class="row margin-bottom-3">
					<div class="col-12 col-md-8 offset-md-2">
						<div class="Wysiwyg">{{- post.content -}}</div>
					</div>
				</div>
			{% endif %}

			<div class="row">
				<div class="col-12 col-md-8 offset-md-2">
					<form class="Form row js-register js-form" method="POST">



						<div class="Form__group d-none">
							{# Hidden #}
							<input id="country" type="hidden" name="country" value="FRANCE">
							<input type="hidden" name="title" value="{{ price.meta( 'sections' )[0].title }}">
							<input type="hidden" name="price" value="{{ price.meta( 'sections' )[0].price }}">
							<input type="hidden" name="price_id" value="{{ price.id }}">
							{# <input id="address_2" type="hidden" name="address_2" value=""> #}
							{# <input id="phone" type="hidden" name="phone" value=""> #}
							{# <input id="birthdate" type="hidden" name="birthdate" value=""> #}
							{# <input id="birthplace" type="hidden" name="birthplace" value=""> #}
							<input class="js-total-input" type="text" id="total" name="total" value="{{ price.meta( 'sections' )[0].price }}">

							{{ nonce }}

							{% if recaptcha.site_key %}
								<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
							{% endif %}

						</div>

						<div class="Form__group col-12">
							<label class="Form__label Form__label--required" for="civility">{{- __( 'Civility', 'leaglecup' ) -}}</label>
							<select class="Form__select" id="civility" name="civility">
								<option value="MONSIEUR">{{- 'Monsieur' -}}</option>
								<option value="MADAME">{{- 'Madame' -}}</option>
								<option value="MADEMOISELLE">{{- 'Mademoiselle' -}}</option>
							</select>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="firstname"
							>
								{{- __( 'Prénom', 'leaglecup' ) -}}
							</label>
							<input
								class="Form__input"
								id="firstname"
								type="text"
								name="firstname"
								placeholder="{{ 'ex. Marie' }}"
								required
							>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="lastname">{{- 'Nom' -}}</label>
							<input
								class="Form__input"
								id="lastname"
								type="text"
								name="lastname"
								placeholder="{{ 'ex. Martin' }}"
								required
							>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label
								class="Form__label"
								for="company_name"
							>
								{{- 'Raison sociale' -}}
							</label>
							<input class="Form__input" id="company_name" type="text" name="company_name" placeholder="{{ 'ex. Vandelay Industries' }}">
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="job_title">{{- __( 'Profession', 'leaglecup' ) -}}</label>
							<input
								class="Form__input"
								id="job_title"
								type="text"
								name="job_title"
								required
								placeholder="{{ __( 'ex. Avocat / Expert-comptable / Notaire', 'leaglecup' ) }}"
							>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="email">{{- 'Email' -}}</label>
							<input class="Form__input" id="email" type="email" name="email" required placeholder="{{ 'ex. art@vandelay.com' }}">
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="cell_phone">
								{{- 'Téléphone mobile' -}}
							</label>
							<input
								class="Form__input Form__input--tel"
								id="cell_phone"
								type="tel"
								name="cell_phone"
								required
								pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$"
								placeholder="{{ 'ex. 01 23 45 67 89' }}"
							>
						</div>

						<div class="Form__group col-12">
							<label class="Form__label Form__label--required" for="address">{{- 'Adresse' -}}</label>
							<input class="Form__input" id="address" type="text" name="address" required placeholder="{{ 'ex. 99 avenue des Champs-Élysées' }}">
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="city">{{- 'Ville' -}}</label>
							<input
								class="Form__input"
								id="city"
								type="text"
								name="city"
								required
								placeholder="{{ 'ex. Paris' }}"
							>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label
								class="Form__label Form__label--required"
								for="postal_code"
							>
								{{- 'Code postal' -}}
							</label>
							<input
								class="Form__input Form__input--text"
								id="postal_code"
								type="text"
								name="postal_code"
								required
								pattern="([A-Z]+[A-Z]?\-)?[0-9]{1,2} ?[0-9]{3}"
								placeholder="{{ 'ex. 75008' }}"
							>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label" for="license_number">Numéro de licence</label>
							<input class="Form__input" id="license_number" type="text" name="license_number" placeholder="ex.">
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label" for="ffg_index">Index FFG</label>
							<input class="Form__input" id="ffg_index" type="text" name="ffg_index" placeholder="ex.">
						</div>

						<div class="Form__group col-12">
							<div class="row">
								<div class="col-8">
									<p><strong>Description</strong></p>
								</div>
								<div class="col-2"><p class="text-align-right"><strong>Prix</strong> <sup>TTC</sup></p></div>
								<div class="col-2"><p class="text-align-right"><strong>Total</strong> <sup>TTC</sup></p></div>
							</div>

							<div class="overflow-hidden Form__group row">
								<div class="col-8">

									<div class="margin-bottom-3">
										<strong>Participation à la Leagle Cup incluant</strong><br>
										{{- price.meta( 'sections' )[0].content -}}
									</div>

									<div class="margin-bottom-3">
										<label class="Form__label" for="t_shirt_size">{{- __( 'Specify the size of the polo shirt', 'leaglecup' ) -}}</label>
										<select class="Form__select" id="t_shirt_size" name="t_shirt_size">
											<option value="S">S</option>
											<option value="M">M</option>
											<option value="L">L</option>
											<option value="XL">XL</option>
										</select>
									</div>
								</div>
								<div class="col-2"><p class="text-align-right white-space-nowrap">{{- price.meta( 'sections' )[0].price }} €</p></div>
								<div class="col-2"><p class="text-align-right white-space-nowrap">{{- price.meta( 'sections' )[0].price }} €</p></div>
							</div>
							{# <div class="Form__group row">
								<div class="col-8">
									<p><strong>Option 1</strong><br>Chambre double</p>
								</div>
								<div class="col-2"><p class="text-align-right white-space-nowrap">50 €</p></div>
								<div class="col-2 text-align-right">
									<div role="checkbox" class="Form__checkbox js-checkbox" aria-checked="false" tabindex="0">
										<button type="button"></button>
										<div class="d-none">
											<input class="js-calc" id="option_1" name="option_1" value="option_1" type="checkbox" data-number="50">
										</div>
									</div>
								</div>
							</div> #}

							{% for section in price.meta( 'sections' )[1:] %}
								<div class="Form__group row">
									<div class="col-8">
										<div class="margin-bottom-3">
											<strong>{{- section.title -}}</strong><br>
											{{- section.content -}}
										</div>
									</div>
									<div class="col-2"><p class="text-align-right white-space-nowrap">{{- section.price }} €</p></div>
									<div class="col-2 text-align-right">
										<div class="Form__checkbox js-checkbox" role="checkbox" aria-checked="false" tabindex="0">
											<button type="button"></button>
											<input
												class="d-none js-calc"
												id="option_{{ loop.index0 }}"
												name="options[{{ loop.index0 }}]"
												type="checkbox"
												data-number="{{ section.price }}"
												value="{{ section.price }}"
											>
										</div>
									</div>
								</div>
							{% endfor %}

							<div class="row">
								<div class="col-12">
									<p class="text-align-right white-space-nowrap">
										<span class="js-total">{{- price.meta( 'sections' )[0].price -}}</span> €</p>
								</div>
							</div>

						</div>


						<div class="Form__group js-radiogroup col-12" role="radiogroup" aria-labelledby="scramble-label">
							<h3 id="scramble-label" class="Form__label">Équipe scramble à 2</h3>

							<div class="Form__group">
								<div class="Form__radio is-selected" role="radio" tabindex="0" aria-checked="true">
									<span class="Form__radio__input"></span>
									<span class="Form__radio__label">Je viens seul(e) et sollicite l’association Leagle Cup pour trouver un/une partenaire</span>
									<div class="d-none">
										<input type="radio" name="team[double]" value="false" checked>
									</div>
								</div>
							</div>

							<div class="Form__group">
								<div class="Form__radio" role="radio" tabindex="-1" aria-checked="false">
									<span class="Form__radio__input"></span>
									<span class="Form__radio__label">Je constitue une équipe</span>
									<div class="d-none">
										<input type="radio" name="team[double]" value="true">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="Form__group js-team is-off col-12 col-md-6">
									<label class="Form__label" for="team_firstname">{{- 'Prénom du deuxième joueur' -}}</label>
									<input class="Form__input" id="team_firstname" name="team[firstname]" type="text" placeholder="ex. Jean">
								</div>
								<div class="Form__group js-team is-off col-12 col-md-6">
									<label class="Form__label" for="team_lastname">{{- 'Nom du deuxième joueur' -}}</label>
									<input class="Form__input" id="team_lastname" type="text" name="team[lastname]" placeholder="ex. Bernard">
								</div>
							</div>

							<div class="row">
								<div class="Form__group js-team is-off col-12">
									<label class="Form__label" for="team_license">Numéro de licence du deuxième joueur</label>
									<input class="Form__input" id="team_license" type="text" name="team[license_number]" placeholder="ex.">
								</div>
							</div>

							<div class="row">
								<div class="Form__group col-12 js-condition-scramble-team is-off">
									<p class="Form__message Form__message--required margin-0">
										Le 2ème joueur doit appartenir à la même profession que le 1er joueur<br>
										Le 2ème joueur doit impérativement s’inscrire en complétant un bon de commande
									</p>
								</div>
							</div>

						</div>

						<div class="Form__group col-12">
							<p class="Form__label Form__label--required">Obligatoire</p>
							<div class="Form__checkbox Form__checkbox--has-label js-checkbox" role="checkbox" aria-checked="false" tabindex="0">
								<button type="button"></button>
								<span>{{- 'J’atteste sur l’honneur être en possession d’un certificat médical valide autorisant la pratique du golf en compétition (l’accès à la compétition pourra être refusé si le joueur n’est pas en mesure d’attester être en possession d’un certificat médical en cours de validité)' -}}</span>
								<input class="d-none" id="medical_certificate" name="medical_certificate" value="medical_certificate" type="checkbox">
							</div>
						</div>

						<div class="Form__group js-submit is-off col-12">
							<button class="Form__submit Button Button--outline-secondary" type="submit">
								{{- __( "I'm registering", 'leaglecup' ) -}}
							</button>
						</div>

						<div class="Form_group col-12 text-align-right">
							<p><strong>Si votre navigateur n’est pas à jour, vous pouvez rencontrer des difficultés pour valider votre inscription.</strong></p>
							<p><strong>Dans ce cas, n’hésitez pas à nous contacter directement par mail : <a href="mailto:contact@leaglecup.fr" target="_blank" rel="noopener">contact@leaglecup.fr</a> ou par téléphone : <a href="tel:0982541600" target="_blank" rel="noopener">09 82 54 16 00</a>.</strong></p>
						</div>

						<div class="Form__group col-12 Form__success">
							<p>Votre inscription a bien été envoyée !</p>
						</div>

						<div class="Form__group col-12 Form__error">
							<p>{{- __( "Your registration hasn't been sent.", 'leaglecup' ) -}}</p>
						</div>

						<div class="Form__group col-12">
							<p><strong>Conditions de règlement</strong><br>par virement bancaire</p>
							<p>
								<strong>Coordonnées bancaires :</strong><br>
								Titulaire du compte : WebLex<br>
								RIB : 30047 14293 00020106401 38<br>
								IBAN : FR76 3004 7142 9300 0201 0640 138<br>
								BIC : CMCIFRPP
							</p>

							<p>Pour que l’inscription soit prise en compte, indiquer <strong>impérativement</strong> en libellé/référence le nom et prénom du joueur</p>
						</div>

						<div class="Form__group col-12">
							<p><strong>Attention</strong><br>
								L’inscription n’est définitive qu’à réception intégrale de la participation<br>
								L’inscription entraîne l’acceptation pleine et entière des termes du règlement de la compétition et l’engagement du participant de s’y conformer
							</p>
						</div>

						<div class="Form__group col-12">
							<p class="Form__message Form__message--required margin-0 text-align-right">* Champs obligatoires</p>
						</div>

					</form>
				</div>
			</div>
		</div>
		{# {% include 'common/grid.html.twig' %} #}
	</section>
{% endblock %}
