{#

@file pages/register-page.html.twig
@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}
{% extends 'index.html.twig' %}

{% block content %}
	<section class="Page__content">
		<div class="Site-container">

			{% if post.content %}
				<div class="row">
					<div class="col-12 col-md-10 offset-md-1">
						<div class="Wysiwyg">{{- post.content -}}</div>
					</div>
				</div>
			{% endif %}

			<div class="row">
				<div class="col-12 col-md-8 offset-md-2">
					<form class="Form row js-electronic-signature" method="post" enctype="multipart/form-data">

						<div class="Form__group d-none">
							{# Hidden #}
							<input id="country" type="hidden" name="country" value="FR">
							<input id="company_name" type="hidden" name="company_name" value="">
							<input id="registration_number" type="hidden" name="registration_number" value="">
							<input id="address_2" type="hidden" name="address_2" value="">
							<input id="phone" type="hidden" name="phone" value="">
							<input id="job_title" type="hidden" name="job_title" value="">
							<input id="birthdate" type="hidden" name="birthdate" value="">
							<input id="birthplace" type="hidden" name="birthplace" value="">
						</div>

						<div class="Form__group col-12">
							<label class="Form__label Form__label--required" for="civility">Civilité</label>
							<select class="Form__select" id="civility" name="civility">
								<option value="MONSIEUR">Monsieur</option>
								<option value="MADAME">Madame</option>
								<option value="MADEMOISELLE">Mademoiselle</option>
							</select>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="firstname">Prénom</label>
							<input class="Form__input" id="firstname" type="text" name="firstname" required>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="lastname">Nom</label>
							<input class="Form__input" id="lastname" type="text" name="lastname" required>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label" for="company_name">Entreprise</label>
							<input class="Form__input" id="company_name" type="text" name="company_name">
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label" for="job_title">Fonction dans l'entreprise</label>
							<input class="Form__input" id="job_title" type="text" name="job_title">
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="email">{{- 'Email' -}}</label>
							<input class="Form__input" id="email" type="email" name="email" required>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="cell_phone">
								{{- 'Téléphone mobile' -}}
							</label>
							<input
								class="Form__input Form__input--tel"
								id="cell_phone"
								type="tel"
								name="cell_phone"
								required pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$">
						</div>

						<div class="Form__group col-12">
							<label class="Form__label Form__label--required" for="address_1">{{- 'Adresse' -}}</label>
							<input class="Form__input" id="address_1" type="text" name="address_1" required>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="city">{{- 'Ville' -}}</label>
							<input class="Form__input" id="city" type="text" name="city" required>
						</div>

						<div class="Form__group col-12 col-md-6">
							<label class="Form__label Form__label--required" for="postal_code" pattern="([A-Z]+[A-Z]?\-)?[0-9]{1,2} ?[0-9]{3}">Code postal</label>
							<input class="Form__input Form__input--text" id="postal_code" type="text" name="postal_code" required>
						</div>

						<div class="Form__group col-12">
							<button class="Form__submit Button Button--outline-secondary" type="submit">{{- 'S\'inscrire' -}}</button>
						</div>

						<div class="Form__group col-12 Form__success">
							<p class="margin-x-1 margin-y-0">Votre inscription a bien été envoyée !</p>
						</div>

						<div class="Form__group col-12 Form__error">
							<p class="margin-x-1 margin-y-0">Votre inscription n'a pas été envoyée.</p>
						</div>

						<div class="Form__group col-12">
							<p class="Form__required-message margin-0 text-align-right">* Champs obligatoires</p>
						</div>

					</form>
				</div>
			</div>
		</div>
		{% include 'common/grid.html.twig' %}
	</section>
{% endblock %}
