<p>Bonjour,</p>

<p>L’équipe de la <strong>Leagle Cup</strong> vous remercie pour votre inscription dont voici un récapitulatif :</p>

<p>
	Nom et prénom : {{ post.meta( 'civility' ) }} {{ post.meta( 'firstname' ) }} {{ post.meta( 'lastname' ) -}}<br>
	Raison social : {{ post.meta( 'company_name' ) -}}<br>
	Profession : {{ post.meta( 'job_title' ) -}}<br>
	Email : {{ post.meta( 'email' ) -}}<br>
	Téléphone mobile : {{ post.meta( 'cell_phone' ) -}}<br>
	Adresse : {{ post.meta( 'address' ) }}<br>
	Ville : {{ post.meta( 'city' ) }}<br>
	Code postal : {{ post.meta( 'postal_code' ) }}<br>
	{{- post.meta( 'license_number' ) ? "Numéro de licence : #{ post.meta( 'license_number' ) }<br>" : '' -}}
	{{- post.meta( 'ffg_index' ) ? "Index FFG : #{ post.meta( 'ffg_index' ) }<br>" : '' -}}
	Taille du polo : {{ post.meta( 't_shirt_size' ) }}<br>
	{{- post.meta( 'options_0' ) ? "Vous avez sélectionné l'option 1 (green fee du vendredi)<br>" : '' -}}
	{{- post.meta( 'options_1' ) ? "Vous avez sélectionné l'option 2 (forfait accompagnant)<br>" : '' -}}

	Pour un total de {{ post.meta( 'total' ) }} €<br>

	Vous constituez une équipe avec :<br>

	{% if post.meta( 'team_double' ) == 'true' %}
		{{- post.meta( 'team_firstname' ) ? post.meta( 'team_firstname' ) : '' }}{{ post.meta( 'team_lastname' ) and post.meta( 'team_firstname' ) ? " #{ post.meta( 'team_lastname' ) }" : post.meta( 'team_lastname' )  }}<br>
		{{ post.meta( 'team_license_number' ) ? "Dont le numéro de licence est #{ post.meta( 'team_license_number' ) }" : ''  }}
	{% else %}
		Nous nous chargeons de vous choisir un co-équipier
	{% endif %}

</p>

<p>
	Nous vous précisons que votre inscription sera définitivement validée à réception du versement de votre participation par virement bancaire (identification bancaire rappelée ci-après) :
</p>

<p>
	<strong>Coordonnées bancaires : <span style="color: #ff3200;">(Attention : nouvelles coordonnées bancaires )</span></strong><br>
	Titulaire du compte : WebLex<br>
	RIB : 30047 14293 00020106401 38<br>
	IBAN : FR76 3004 7142 9300 0201 0640 138<br>
	BIC : CMCIFRPP
</p>

<p>Toute l'équipe de la Leagle Cup vous remercie et vous recontactera très prochainement.</p>

<p>
	À bientôt<br>
	Céline MENGUY pour la Leagle Cup<br>
	Mail : contact@leaglecup.fr<br>
	Ligne directe : 09.82.50.82.01
</p>
